.boton-document{
    background-color: cadetblue;
}

.boton-document:hover{
    background-color: #287480;
}

.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: cadetblue;
    /*max-height: 70px;*/
    margin-top: -8px;
    
}

.logo {
    padding: 0px 40px;  
}
  
.nav-item {
    display: block;
    text-align: center;
    padding: 0px 40px;
    text-decoration: none;
    color: white;
}

.navbar-nav {
    padding: 0px;
}

.navbar-collapse {
    padding-bottom: 0px;
}

.btnav{
    border-width: 0px;
    min-height: 70px;
    min-width: 195px;
    background-color: cadetblue;
    color: white;
    margin-bottom: -8px;
}

.nav-item:hover{
    background-color: #287480 ;
}

#flotante{
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    z-index: 100;
}

#espacio{
    min-height: 70px;
}

* { box-sizing: border-box; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}